@import 'class.scss';


// GLOBAL
body {
	@extend %nospace;
	background: #EEE;
	color: #555;
	font-size: 14px;
	line-height: 25px;
	width: 100%;
	overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6 { @extend %nospace; margin-bottom: 3px; }
h1 { font-size: 3em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.35em; }
a {
	text-decoration: none;
	color: $lightred;
	@include transition(250ms);
	&:hover { text-decoration: none !important; color: $orange; }
}
.removespace { @extend %nospace; margin: auto; }
.shadow-lg { @include shadow(25px); }
.shadow-md { @include shadow(15px); }
.shadow-sm { @include shadow(10px); }
.shadow-xs { @include shadow(5px); }
.round-circle { @include round(); }
.round-xs { @include round(5px); }
.round-sm { @include round(10px); }
.round-md { @include round(15px); }
.round-lg { @include round(20px); }
.color-red { color: $red; }
.color-darkred { color: $darkred; }
.color-lightred { color: $lightred; }
.color-lighterred { color: $lighterred; }
.color-gray { color: $gray; }
.color-darkgray { color: $darkgray; }
.color-lightgray { color: $lightgray; }
.color-lightergray { color: $lightergray; }
.color-orange { color: $orange; }
.color-purple { color: $purple; }
.bg-white { background-color: #FFF; }




// CONTENT
.content-section {
	@extend %nospace;
	margin-left: 23%;
}
.container {
	padding: 30px 45px 30px 45px;
	margin-top: 80px;
	width: 100%;
}
.heading {
	border-bottom: solid 3px $lightred;
	color: #FFF;
	margin-bottom: 50px;
	overflow: hidden;
	border-radius: 10px 10px 0px 10px;
	-o-border-radius: 10px 10px 0px 10px;
	-ms-border-radius: 10px 10px 0px 10px;
	-moz-border-radius: 10px 10px 0px 10px;
	-webkit-border-radius: 10px 10px 0px 10px;
	h1,h2,h3,h4,h5,h6 {
		color: #FFF;
		background: $orange;
		padding: 20px 25px 17px 25px;
		display: inline-block;
		margin-bottom: 0px;
		border-radius: 0px 10px 0px 0px;
		-o-border-radius: 0px 10px 0px 0px;
		-ms-border-radius: 0px 10px 0px 0px;
		-moz-border-radius: 0px 10px 0px 0px;
		-webkit-border-radius: 0px 10px 0px 0px;
	}
}




// RESPONSIVE-LOGO
.responsive-logo {
	@extend %nospace;
	@include transition(300ms);
	margin: $responsivetopmenu_height+50px 40px 50px 40px;
	border: solid 3px $gray;
	background: #FFF;
	&:hover { border-color: $lightred; }
	img { @include clearspace(); }
}




// SERVICES
.services {
	.services-thumb {
		background: $lightred;
		color: #FFF;
		padding: 20px;
		margin-top: 0px;
		margin-bottom: 30px;
		min-height: 90px;
		@include transition(250ms);
		&:hover {
			background: $red;
			margin-top: 3px;
			margin-bottom: 27px;
		}
		.fa {
			float: left;
			padding-right: 15px;
			min-width: 70px;
			font-size: 2.5em;
			text-align: center;
		}
	}
}



// PORTFOLIO
.portfolio {
	width: 97%;
	padding: 40px 0px;
	@include clearspace();
	.portfolio-thumb {
		@include transition(250ms);
		@include clearspace();
		overflow: hidden;
		position: relative;
		margin-bottom: 30px;
		&:hover { border-color: $purple; }
		.portfolio-content {
			@include transition(250ms);
			position: absolute;
			top: 0px;
			left: 0px;
			text-align: center;
			width: 100%;
			height: 100%;
			color: #FFF;
			overflow: hidden;
			background: rgba($lightred, 0);
			padding-top: 75%;
			&:hover {
				background: rgba($lightred, 0.4);
				padding-top: 35%;
				span {
					padding: 25px 0px;
					background: rgba($lightred, 1);
				}
			}
			span {
				@include transition(250ms);
				background: rgba(#000, 0.7);
				display: inline-block;
				width: 100%;
				padding: 10px 0px;
			}
		}
		img { @include clearspace(); width: 100%; }
	}
}



// FOOTER
.footer {
	$footerspacer: 35px;
	@extend %nospace;
	margin-top: 80px;
	color: #FFF;
	background: $darkgray;
	border-top: solid 50px $lightergray;
	text-align: center;
	padding: 35px;
	.footer-social {
		@include clearspace();
		list-style: none;
		li {
			font-size: 1.25em;
			display: inline-block;
			padding: 0px 1px;
			a {
				@include transition(250ms);
				color: #FFF;
				&:hover {
					color: $orange;
				}
			}
		}
	}
	.footer-copyright {
		@include clearspace();
		a {
			color: $orange;
			&:hover {
				color: #FFF;
				text-decoration: underline !important;
			}
		}
	}
}




// MEDIA QUERY (XS VIEW)
@media(max-width: 767px) {
	.content-section {
		margin-left: 0;
		margin-top: $responsivetopmenu_height;
	}
	.container {
		padding: 30px 25px;
		margin-top: 70px;
	}
	@keyframes move-clouds-back { from { background-position: 0 -125px; } to { background-position:10000px -125px; } }
	@-webkit-keyframes move-clouds-back { from { background-position: 0 -125px; } to { background-position:10000px -125px; } }
	@-moz-keyframes move-clouds-back { from { background-position: 0 -125px; } to { background-position:10000px -125px; } }
	@-ms-keyframes move-clouds-back { from { background-position: 0 -125px; } to { background-position:10000px -125px; } }
	.leftpanel {
		width: 100%;
		height: $responsivetopmenu_height;
	}
	.leftpanel-show {
		@include transition(350ms);
		height: $responsivetopmenu_height + 350px;
		opacity: 0.95;
	}
}




// BOOTSTRAP OVERRID
.btn-warning {
	@include transition(300ms);
	background: $purple;
	border: none;
	&:hover { background: $orange; }
}
.btn-danger {
	@include transition(300ms);
	background: $darkgray;
	border: none;
	&:hover { background: $purple; }
}