@import 'class.scss';


// SLIDESHOW
.slide {
	$slidenav_dimension: 40px;
	@extend %nospace;
	position: relative;
	overflow: hidden;
	ul {
		@extend %nospace;
		white-space: nowrap;
		list-style-type: none;
		li {
			@extend %nospace;
			transform: translateZ(0);
			-o-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-webkit-transform: translateZ(0);
			float: left;
			display: block;
			margin: 0;
			padding: 0;
			& > a, & > div {
				display: block;
				text-align: center;
				outline: none;
			}
			& > a img {
				border: none;
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
		}
	}
	nav {
		span {
			@include round();
			position: absolute;
			top: 50%;
			width: $slidenav_dimension;
			height: $slidenav_dimension;
			line-height: $slidenav_dimension;
			background: $darkergray;
			color: #fff;
			font-size: 1.2em;
			text-align: center;
			margin-top: -($slidenav_dimension/2);
			cursor: pointer;
			font-weight: normal;
			@include transition(300ms);
			&:hover { background: $lightred; }
			&.cbp-fwnext { right: 5px; text-align: center; }
			&.cbp-fwprev { left: 5px; text-align: center; }
		}
	}
}
.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	span {
		@include transition(300ms);
		border: solid 1px $darkergray;
		display: inline-block;
		width: 18px;
		height: 18px;
		background: #FFF;
		margin: 4px;
		border-radius: 50%;
		cursor: pointer;
		&:hover { background: #999; }
		&.cbp-fwcurrent { background: $lightred; }
	}
}